{% extends 'parent.html' %}

{% block chat %}

{% endblock %}

{% block body %}

    <p> Hi, Adeniyi; Welcome to DEEPchat </p>
    <p> What's your schedule for the day? </p>
    <table>
	    <tr>
		<th>Task</th>
		<th>Actions</th>
	    </tr>
	    <tr>
		 <td></td>
		 <td>
		    <a href="">Delete</a> <br>
		    <a href="">Update</a>
		 </td>
	     </tr>
    <table>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
</form>

{% endblock %}
